@import '../../build/img/svg/sass/_sprite';
@import 'templates/mixins';


body
	background-color: #fff

body
	color: black

main
	border: 1px solid #0f0

p
	margin: 0

.wrapper
	max-width: 1200px
	margin: 0 auto

.icon 
	position: relative

	&:before
		content: ''
		position: absolute
		left: 0
		background-image: url(../../img/svg/sprite.svg)

.icon-access-time
	padding-left: 25px 


.top-menu
	display: flex
	padding: 0

	li
		list-style: none
		margin: 0 10px
		border: 1px solid transparent
		padding: 3px 10px
		+rem(20)

		&:first-child
			margin-left: 0

		&:last-child
			margin-right: 0

		&.active
			border: 1px solid #f00

	a
		text-decoration: none
		color: #58a

	

footer
	background-color: #58a