@import '../../build/img/svg/view/sass/_sprite';

body
	background-color: #f00

body
	color: black

main
	border: 1px solid #0f0

p
	margin: 0


.icon
	position: relative
	
	&:before
		content: ''
		position: absolute
		background-image: url(../../img/svg/view/sprite.svg)
		width: 20px
		height: 20px
		left: 0


.icon-access-time
	border: 1px solid #000
	width: 200px
	height: 50px
	padding-left: 50px
