doctype
html(lang="ru")
	head
		meta(charset="UTF-8")
		block title
		link(rel="stylesheet" href="css/main-style.css")

	body

		header
			.wrapper
				block menu

		block content

		footer
			p 2

		script(src="js/main.js")