extends template

block content
	main
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quasi optio vel molestias fuga enim quae magnam. Blanditiis autem labore, expedita incidunt, dolores, molestiae similique iste esse voluptatibus nisi sunt.