extends templates/layout

block title
	title Главная

block menu
	- var current = 'Главная'
	include templates/top-nav

block content
	.container
		main
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quasi optio vel molestias fuga enim quae magnam. Blanditiis autem labore, expedita incidunt, dolores, molestiae similique iste esse voluptatibus nisi sunt.

			a(href="#").btn.btn--lightgreen
				span.icon.icon-access-time Кнопка

			a(href="#").btn.btn--tomato 
				span.icon.icon-done-2 Кнопка

			a(href="#").btn.btn--lightblue
				span.icon.icon-archive-2 Кнопка1

			.row
				.col
					p 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quibusdam vitae, perferendis labore porro quasi! In nostrum numquam repudiandae itaque obcaecati, perferendis quisquam explicabo earum ipsum totam alias necessitatibus, id hic repellat laudantium delectus sint. Nulla rem quo error minus est et ab, perspiciatis eos beatae tempore, provident fuga illo.
				.col
					p 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quibusdam vitae, perferendis labore porro quasi! In nostrum numquam repudiandae itaque obcaecati, perferendis quisquam explicabo earum ipsum totam alias necessitatibus, id hic repellat laudantium delectus sint. Nulla rem quo error minus est et ab, perspiciatis eos beatae tempore, provident fuga illo.
				.w-100
				.col
					p 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quibusdam vitae, perferendis labore porro quasi! In nostrum numquam repudiandae itaque obcaecati, perferendis quisquam explicabo earum ipsum totam alias necessitatibus, id hic repellat laudantium delectus sint. Nulla rem quo error minus est et ab, perspiciatis eos beatae tempore, provident fuga illo.
				.col
					p 4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quibusdam vitae, perferendis labore porro quasi! In nostrum numquam repudiandae itaque obcaecati, perferendis quisquam explicabo earum ipsum totam alias necessitatibus, id hic repellat laudantium delectus sint. Nulla rem quo error minus est et ab, perspiciatis eos beatae tempore, provident fuga illo.

