extends templates/layout

block title
	title Главная

block menu
	- var current = 'Главная'
	include templates/top-nav

block content
	.wrapper
		main
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quasi optio vel molestias fuga enim quae magnam. Blanditiis autem labore, expedita incidunt, dolores, molestiae similique iste esse voluptatibus nisi sunt.

			a(href="#").btn.btn--lightgreen
				span.icon.icon-access-time Кнопка

			a(href="#").btn.btn--tomato 
				span.icon.icon-done-2 Кнопка

			a(href="#").btn.btn--lightblue
				span.icon.icon-archive-2 Кнопка1

